<h1>JK Technosoft</h1>
<nav>
  <div class="nav-left">
    <a routerLink="/">Home</a>
    <a routerLink="/dashboard">Dashboard</a>
  </div>
  <div class="nav-right">
    <ng-container *ngIf="isLoggedIn(); else guestLinks">
      <span>Welcome, {{ getUsername() }}</span>
      <a (click)="logout()" href="#" class="logout-link">Logout</a>
    </ng-container>
    <ng-template #guestLinks>
      <a routerLink="/login">Login</a> | <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>
<hr />
<router-outlet></router-outlet>
