<h1>Sample Page</h1>
<button class="btn btn-primary"><i class="bi bi-0-circle"></i></button>
<nav>
  <a routerLink="/">Home</a>
  <div class="nav-right">
    <ng-container *ngIf="isLoggedIn(); else guestLinks">
      <span>Welcome, {{ getUsername() }}</span>
      <a (click)="logout()" href="#" class="logout-link">Logout</a>
    </ng-container>
    <ng-template #guestLinks>
      <a routerLink="/login">Login</a> | <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>
<hr />
<router-outlet></router-outlet>
